body{
    background-color: #CDCDCD;
}

.header {
    margin-top: 30px;
    margin-bottom: 30px;
}

.head{
    color: dodgerblue;
}

.crap{
    padding: 30px;
    line-height: 2.0;
}

.rule{
    width: 20%;
    border: 1px solid;
}